appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
Automat==20.2.0
bcrypt @ file:///D:/bld/bcrypt_1651441752302/work
brotlipy @ file:///D:/bld/brotlipy_1648854404735/work
certifi==2022.6.15
cffi @ file:///D:/bld/cffi_1656782956657/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
chromedriver-autoinstaller==0.4.0
constantly==15.1.0
cryptography @ file:///D:/bld/cryptography_1657174118602/work
cssselect==1.1.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
h11==0.13.0
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1621907170877/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1659518105741/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1661453495870/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
lxml @ file:///D:/bld/lxml_1656759479892/work
outcome==1.2.0
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1647348122707/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyDispatcher==2.0.5
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
PySocks @ file:///D:/bld/pysocks_1648857448477/work
pywin32==303
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1629994290383/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1656534056640/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1591227832914/work
Scrapy @ file:///C:/Windows/TEMP/abs_f50e21j997/croots/recipe/scrapy_1659598707153/work
selenium==4.4.3
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.2.0
sortedcontainers==2.4.0
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1657323845005/work
trio==0.21.0
trio-websocket==0.9.2
Twisted @ file:///D:/bld/twisted_1656002373966/work
twisted-iocpsupport @ file:///D:/bld/twisted-iocpsupport_1649418011038/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771930662/work
wincertstore==0.2
wsproto==1.2.0
zope.interface @ file:///D:/bld/zope.interface_1649175891505/work
